@import './variables';

.no-img {
	background-image: none;
	background-color: $col-primary;
	background-attachment: fixed;
}

.projectCard {
	display: flex;
	margin: $sp-3 0;
	max-width: 80%;

	.projectImg {
		position: relative;
		img {
			width: 300px;
		}
	}

	.cardBody {
		padding: 0 $sp-1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.description {
		font-size: $fs-xs;
		color: $col-text;
		padding: $sp-2 0;
	}

	.links {
		font-size: $fs-xs;
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		position: absolute;
		bottom: 0;
		text-decoration: underline;
		background-color: black;
	}
}

.projectTitle {
	color: $col-text;
	display: flex;
	align-items: center;
	font-size: $fs-xs;
	font-weight: 900;
	font-family: $montserrat;
	text-decoration: underline;
}

.description {
	color: $col-sec-text;
	font-size: $fs-xs;
	font-family: $lato;
	font-weight: 100;
	text-align: left;
}

// TAG STYLE
.tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: $sp-1 0;
}

.tag {
	font-size: $fs-xxs;
	padding: $sp-1 $sp-3;
	border-radius: 15px;
	margin: $sp-1;
	background-color: $col-warning;
}

@media only screen and(max-width: 600px) {
	.projectCard {
		flex-direction: column;
		margin: $sp-2 auto;
		width: 95%;

		border-bottom: 2px solid whitesmoke;

		.projectImg {
			margin-bottom: $sp-1;

			img {
				width: 100%;
			}
		}
	}

	// gives static position to hero div in order to expand while
	// adding projects

	.no-img {
		position: static;
	}
}
