@import './variables';

.skillBar {
	align-self: flex-start;
}

.skillName {
	font-size: $fs-xs;
}

.bar {
	width: 200px;
	background-color: $col-warning;
	height: $fs-m;
	font-size: $fs-xs;
	color: $col-primary;
	border-radius: 0 15px 15px 0;
}
