@import './variables';

.content {
	background-image: url('/img/back.jpg');
	min-height: 78vh;
	position: relative;
}

.jumbo {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.7),
		rgba(0, 0, 0, 0.4),
		rgba(91, 0, 71, 0.4),
		rgba(91, 0, 71, 0.1)
	);

	width: 100%;
	min-height: 70vh;
	// right: 0;
	// left: 0;
	// top: 0;
	// bottom: 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero,
.projectsHero {
	color: $col-text;
	font-family: $montserrat;
	font-size: $fs-xl;
	text-align: center;
}

.tagline {
	font-family: lato;
	font-size: $fs-xxs;
	color: $col-warning;
	font-weight: 100;
	text-transform: capitalize;
}

.wrapper {
	min-height: 100vh;
	width: 100%;
}

@media only screen and(max-width: 600px) {
	.content {
		min-height: 58.5vh;
		margin-top: 25vh; // height of the fixed positioned navbar
		margin-bottom: 8vh; // heigth of the fixed postioned bottom bar
	}

	.wrapper {
		min-height: 67vh;
	}

	.hero {
		font-size: $fs-l;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: static;
		min-height: 67vh;
	}

	.jumbo {
		align-items: flex-start;
		min-height: 67vh;
		position: static;
		background-attachment: fixed;
	}
}
