@import './variables';

.content {
	background-image: url('/img/back.jpg');
	height: 78vh;
	position: relative;
}

.jumbo {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.7),
		rgba(0, 0, 0, 0.7),
		rgba(91, 0, 71, 0.5)
	);
	width: 100%;
	height: 100%;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: 0 auto;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero {
	color: $col-text;
	font-family: $montserrat;
	font-size: $fs-xl;
	text-align: center;
	position: relative;
	bottom: 1.5em;
}

.tagline {
	font-family: lato;
	font-size: $fs-xxs;
	color: $col-warning;
	font-weight: 100;
	text-transform: capitalize;
}

@media only screen and(max-width: 600px) {
	.content {
		height: 58.5vh;
	}

	.hero {
		font-size: $fs-l;
		margin-top: $sp-5;
		position: static;
	}

	.jumbo {
		align-items: flex-start;
		height: 100%;
	}
}
