@import './header';
@import './userIndex';
@import './admin/adminIndex';
@import './footer';
@import './projectsIndex';
@import './skills';

* {
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	font-size: 1em;
}

body {
	background-color: lighten($col-highlight, 45);
}

ul {
	list-style: none;
}

a {
	color: $col-text;
}
