@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:ital,wght@0,300;0,700;1,300&family=Montserrat:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:ital,wght@0,300;0,700;1,300&family=Montserrat:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:ital,wght@0,300;0,700;1,300&family=Montserrat:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:ital,wght@0,300;0,700;1,300&family=Montserrat:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:ital,wght@0,300;0,700;1,300&family=Montserrat:wght@200;400;600&display=swap");
.primary-btn {
  background-color: transparent;
  padding: 0.9em 0 0.9em 0;
  color: #e9f0fc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  outline: none;
  min-width: 300px;
  border-bottom: 4px #570b48 solid;
  transition: 0.5s;
}

.primary-btn:hover {
  color: black;
  background-color: #bfc968;
}

.primary-btn:active {
  outline: none;
}

.fadeIn {
  opacity: 0;
  animation: 1.5s fadeIn forwards;
  animation-delay: 0.8s;
}

.appear {
  animation: 1.5s appear forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media only screen and (max-width: 600px) {
  .primary-btn {
    font-size: 0.5em;
  }
}
.navbar {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.75));
  background-color: #570b48;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 12vh;
  padding: 0.6em 0;
}
.navbar .nav {
  display: flex;
  justify-content: space-evenly;
}
.navbar .nav li {
  margin: 0 0.6em;
  font-size: 1.6em;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  margin: 0.3em 0.6em;
  color: #e9f0fc;
  text-transform: uppercase;
}

.brand-h {
  color: #570b48;
  font-size: 1.6em;
}

@media only screen and (max-width: 600px) {
  .brand {
    font-size: 1.2em;
  }

  .navbar {
    padding: 0;
    flex-wrap: wrap;
    height: 35vh;
  }
  .navbar .nav {
    flex-direction: column;
  }
}
.primary-btn {
  background-color: transparent;
  padding: 0.9em 0 0.9em 0;
  color: #e9f0fc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  outline: none;
  min-width: 300px;
  border-bottom: 4px #570b48 solid;
  transition: 0.5s;
}

.primary-btn:hover {
  color: black;
  background-color: #bfc968;
}

.primary-btn:active {
  outline: none;
}

.fadeIn {
  opacity: 0;
  animation: 1.5s fadeIn forwards;
  animation-delay: 0.8s;
}

.appear {
  animation: 1.5s appear forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media only screen and (max-width: 600px) {
  .primary-btn {
    font-size: 0.5em;
  }
}
.content {
  background-image: url("/img/back.jpg");
  height: 78vh;
  position: relative;
}

.jumbo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(91, 0, 71, 0.5));
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  color: #e9f0fc;
  font-family: "Montserrat", sans-serif;
  font-size: 2.6em;
  text-align: center;
  position: relative;
  bottom: 1.5em;
}

.tagline {
  font-family: lato;
  font-size: 0.3em;
  color: #bfc968;
  font-weight: 100;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .content {
    height: 58.5vh;
  }

  .hero {
    font-size: 1.6em;
    margin-top: 1.5em;
    position: static;
  }

  .jumbo {
    align-items: flex-start;
    height: 100%;
  }
}
.primary-btn {
  background-color: transparent;
  padding: 0.9em 0 0.9em 0;
  color: #e9f0fc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  outline: none;
  min-width: 300px;
  border-bottom: 4px #570b48 solid;
  transition: 0.5s;
}

.primary-btn:hover {
  color: black;
  background-color: #bfc968;
}

.primary-btn:active {
  outline: none;
}

.fadeIn {
  opacity: 0;
  animation: 1.5s fadeIn forwards;
  animation-delay: 0.8s;
}

.appear {
  animation: 1.5s appear forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media only screen and (max-width: 600px) {
  .primary-btn {
    font-size: 0.5em;
  }
}
.container {
  background-color: #5b78b6;
  min-height: 100vh;
}
.container form {
  background-color: #570b48;
  padding: 0.9em 0;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}
.container form button {
  background-color: #5b78b6;
  max-height: 80px;
  margin: 0.9em auto;
  padding: 1.2em;
  min-width: 300px;
}

.adminTitle {
  width: 100%;
  padding: 0.9em 0;
}
.adminTitle h1 {
  font-family: "Josefin Sans", sans-serif;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 2.6em;
}

.dataField {
  margin: 0.9em 0.6em;
  padding: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border-radius: 10px;
}
.dataField label {
  margin: 0.6em 0;
  color: #e9f0fc;
}
.dataField input {
  font-size: 1.2em;
  padding: 0.3em 0.6em;
}
.dataField textarea {
  resize: none;
  min-height: 300px;
}

.projectList {
  background-color: #570b48;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
}

.updateProject {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.primary-btn {
  background-color: transparent;
  padding: 0.9em 0 0.9em 0;
  color: #e9f0fc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  outline: none;
  min-width: 300px;
  border-bottom: 4px #570b48 solid;
  transition: 0.5s;
}

.primary-btn:hover {
  color: black;
  background-color: #bfc968;
}

.primary-btn:active {
  outline: none;
}

.fadeIn {
  opacity: 0;
  animation: 1.5s fadeIn forwards;
  animation-delay: 0.8s;
}

.appear {
  animation: 1.5s appear forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media only screen and (max-width: 600px) {
  .primary-btn {
    font-size: 0.5em;
  }
}
footer {
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e9f0fc;
  height: 8vh;
}

.mediaLink {
  cursor: pointer;
}
.mediaLink a {
  color: black;
}

.cp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.cp p {
  margin: 0 0.3em;
  font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
  .mediaLink svg {
    height: 1em;
    width: 1em;
  }
}
.primary-btn {
  background-color: transparent;
  padding: 0.9em 0 0.9em 0;
  color: #e9f0fc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  outline: none;
  min-width: 300px;
  border-bottom: 4px #570b48 solid;
  transition: 0.5s;
}

.primary-btn:hover {
  color: black;
  background-color: #bfc968;
}

.primary-btn:active {
  outline: none;
}

.fadeIn {
  opacity: 0;
  animation: 1.5s fadeIn forwards;
  animation-delay: 0.8s;
}

.appear {
  animation: 1.5s appear forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media only screen and (max-width: 600px) {
  .primary-btn {
    font-size: 0.5em;
  }
}
.no-img {
  background-image: none;
  background-color: #570b48;
  background-attachment: fixed;
}

.projectCard {
  display: flex;
  margin: 0.9em 0;
  max-width: 80%;
}
.projectCard .projectImg {
  position: relative;
}
.projectCard .projectImg img {
  width: 300px;
}
.projectCard .cardBody {
  padding: 0 0.3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.projectCard .description {
  font-size: 0.5em;
  color: #e9f0fc;
  padding: 0.6em 0;
}
.projectCard .links {
  font-size: 0.5em;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-decoration: underline;
  background-color: black;
}

.projectTitle {
  display: flex;
  align-items: center;
  font-size: 0.5em;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
}

.description {
  font-size: 0.5em;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  text-align: left;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.3em 0;
}

.tag {
  font-size: 0.3em;
  padding: 0.3em 0.9em;
  border-radius: 15px;
  margin: 0.3em;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  font-size: 1em;
}

body {
  background-color: #f7fbfa;
}

ul {
  list-style: none;
}

a {
  color: #e9f0fc;
}

/*# sourceMappingURL=style.css.map */
